<h1>Listing booking_countries</h1>
<%= button_link_to 'New Booking country', new_admin_booking_country_path %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @booking_countries.each do |booking_country| %>
  <tr>
    <td><%= booking_country.name %></td>
    <td><%= link_to 'Show', admin_booking_country_path(booking_country) %></td>
    <td><%= link_to 'Edit', edit_admin_booking_country_path(booking_country) %></td>
    <td><%= link_to 'Destroy', admin_booking_country_path(booking_country), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

