<h1>List of Groups(booking)</h1>
<%= button_link_to 'New Booking Group', new_admin_booking_group_path %>

<table>
  <tr>

    <th>Group Name</th>
    <th>Pickup Price</th>
    <th>DropOff Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @booking_groups.each do |booking_group| %>
  <tr>
    <td><%= booking_group.name %></td>
    <td><%= booking_group.pickup_price %></td>
    <td><%= booking_group.dropoff_price %></td>
    <td><%= link_to 'Show', admin_booking_group_path(booking_group) %></td>
    <td><%= link_to 'Edit', edit_admin_booking_group_path(booking_group) %></td>
    <td><%= link_to 'Destroy', admin_booking_group_path(booking_group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

