<%= button_link_to 'New Booking city', new_admin_booking_city_path %>
<h1>Listing Booking Cities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>


  </tr>

<% @booking_cities.each do |booking_city| %>
  <tr>
    <td><%= booking_city.name %></td>
    <td><%= booking_city.booking_group_id %></td>
    <td><%= booking_city.booking_country_id %></td>
    <td><%= link_to 'Show', admin_booking_city_path(booking_city)  %></td>
    <td><%= link_to 'Edit', edit_admin_booking_city_path(booking_city) %></td>
    <td><%= link_to 'Destroy', admin_booking_city_path(booking_city), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


